<form>

  <label for="nomeCliente">NOME DO CLIENTE</label>
  <input type="text" class="form-control" [(ngModel)]="nomeDoCliente" name="nomeDoCliente">

  <label for="nomeTecnico">NOME DO TECNICO</label>
  <input type="text" class="form-control" [(ngModel)]="nomeDoTecnico" name="nomeDoTecnico">

  <div class="radio-group">
    <input type="radio" name="activation" id="wifiIntegrado" value="wifiIntegrado"
      (change)="selecaoEquipamento($event)">
    <label for="wifiIntegrado">{{wifiIntegrado}}</label>

    <input type="radio" name="activation" id="onuRoteador" value="onuRoteador" (change)="selecaoEquipamento($event)">
    <label for="onuRoteador">{{ roteador }}</label>
  </div>

  <!-- Inputs para os aparelhos selecionados -->
  <input type="text" *ngIf="mostrarInputAS" [(ngModel)]="aparelhoSelecionado" placeholder="Digite o FHTT da ONU/Router"
    name="aparelhoSelecionado">
  <input type="text" *ngIf="mostrarInputAS" [(ngModel)]="aparelhoSelecionadoOntP"
    placeholder="Digite o patrimônio da ONU/Router" name="aparelhoSelecionadoOntP">

  <div class="radio-group">
    <input type="radio" id="cto" name="ctoSelecionada" value="cto" (change)="selecaoCtoCeip($event)">
    <label for="cto">CTO</label>


    <input type="radio" id="ceip" name="ctoSelecionada" value="ceip" (change)="selecaoCtoCeip($event)">
    <label for="ceip">CEIP</label>

    <input type="radio" id="ctoSemIdentificacao" name="ctoSelecionada" [(ngModel)]="semIdentificacao" value="ctoSemIdentificacao"
      (change)="selecaoCtoCeip($event)">
    <label for="ctoSemIdentificacao">SEM IDENTIFICAÇÃO</label>
  </div>

  <input type="text" *ngIf="esconderInput && mostrarInputCtoCeip" [(ngModel)]="valorCtoCeip"
    [placeholder]="tipoCtoCeipSelecionado" name="valorCtoCeip">
  <input type="number" *ngIf="esconderInput || !mostrarInputCtoCeip" [(ngModel)]="valorPortaCtoCeip" placeholder="PORTA:" name="porta">



  <pre>{{ atendimentoGerado }}</pre>

  <button type="button" class="btn btn-success" (click)="gerarAtendimento()">GERAR ATENDIMENTO</button>
  <button type="button "class="btn" >GERAR OS</button>
  <button type="button "class="btn" >LIMPAR</button>


</form>
