form
{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #2b8ad7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input
{
  margin-bottom: 10px;
}

.radio-group,
.radio-group label {

  margin: 10px; /* Espaçamento entre os grupos */
}

.radio-group input[type="radio"],
.radio-group label {

  margin-right: 10px;
}

#textArea {
  color: black;
  background-color: white;
  margin: 10px auto;
  font-size: x-large;
  width: 400px;
  height: 150px;
  resize: none;
}


